@{
    ViewData["Title"] = "Home Page";
}

<div class="container py-5">
    <h1 class="display-4 text-center mb-5">Bienvenido</h1>

    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <a class="btn btn-success" asp-controller="Productos" asp-action="Index">
                <i class="bi bi-box-seam me-2"></i> Ver Productos
            </a>
        </div>
    </div>
</div>
