@{
    ViewData["Title"] = "Reporte";
}

<div class="mb-3 d-flex gap-2">
    
    <a asp-action="ExportarPdf" class="btn btn-outline-danger">
        <i class="bi bi-file-earmark-pdf me-2"></i> Reporte de Ventas
    </a>

        <a asp-action="Productos" class="btn btn-outline-danger">
        <i class="bi bi-file-earmark-pdf me-2"></i> Reporte de Productos
    </a>
</div>